@import "../../../components/config.scss";

.filter-period {
  margin: 13px 16px;
  display: flex;
  align-items: center;

  .calendar {
    width: 22px;
    height: 22px;
    margin-right: 8px;
    margin-top: -4px;
  }

  .period-text {
    margin: 0 12px 0 8px;
    text-align: left;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0px;
    color: #8b8b8b;
  }

  .period-range {
    margin: 0 8px 0 12px;
    text-align: left;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0px;
    color: #6a6a6a;
  }

  .down-arrow {
    font-size: 24px;
    margin: 5px 0 0 8px;
    color: #757575;
    cursor: pointer;
  }
}
