@import "../config";

.navbar {
  width: 100%;
  top: 0;
  height: 64px;
  background: $background-color 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px $shadow-color;
  opacity: 1;

  display: flex;
  justify-content: space-between;

  .logo {
    display: flex;
    margin: 17px 0 0 34px;
    cursor: pointer;

    .advotics-logo {
      width: 129px;
      height: 32px;
    }

    .logo-down {
      margin-left: 0.5rem;
      padding-top: 1rem;
      display: flex;
      .powered-by {
        text-align: left;
        font-size: 11px;
        letter-spacing: 0px;
        color: $text-color;
      }

      .advotics-logo-smaller {
        width: 72px;
        height: 18px;
        margin-left: 4px;
      }
    }
  }

  .profile {
    display: flex;
    margin: 16px 47px 0 0;

    .text-profile {
      display: flex;
      flex-direction: column;
      text-align: left;
      letter-spacing: 0px;
      color: $text-color;
      .username {
        font-size: 14px;
        line-height: 19px;
      }
      .company {
        font-size: 10px;
        line-height: 14px;
      }
    }

    .profile-icon {
        width: 32px;
        height: 32px;
        margin-left: 15px;
        cursor: pointer;
    }

    .logout {
        width: 15px;
        height: 15px;
        margin: 9px 0 0 22px;
        cursor: pointer;
    }
  }
}
