@import "../config";

.sidebar {
  position: fixed;
  top: 64px;
  left: 0px;
  width: 72px;
  height: 100%;

  background: $background-color 0% 0% no-repeat padding-box;
  border: 0.5px solid #d2d2d2;
  opacity: 1;

  display: flex;
  flex-direction: column;
  align-items: center;

  .menu-icon {
    margin-top: 24px;
    color: #c5c5c5;
    font-size: 40px;
    cursor: pointer;
  }

  .dash-nav {
    background: #d2d2d2 0% 0% no-repeat padding-box;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;

    .dash-box {
      text-align: center;
      background: #ffffff 0% 0% no-repeat padding-box;
      width: 30px;
      height: 32px;
      cursor: pointer;
      margin: 0 19px;

      .dash-icon {
        width: 24px;
        height: 24px;
        margin: 2px 0;
      }
    }
  }
}
